In [1]:
#引用包
import pandas as pd

In [2]:
#导入数据
data=pd.read_excel('../data/equipment_loss_rate.xlsx',sheet_name='warship_generate')
data

       time    consume
0   2010/01  248.74475
1   2010/02  248.00408
2   2010/03  259.69154
3   2010/04  249.07717
4   2010/05  250.77872
..      ...        ...
95  2017/12  264.51702
96  2018/01  283.98023
97  2018/02  293.08599
98  2018/03  284.17712
99  2018/04  275.56658

[100 rows x 2 columns]